.fromTextSubmit{
    all: unset;
    grid-row: 3;
    grid-column: 2;
    height: 50px;
    margin: auto 0;
    border-radius: 50px;
    background-color: #445851;
    cursor: pointer;
    text-align: center;
    color: white;
    box-shadow: 0 0 5px -2px black;
    font-size: 25px;
}

.fromTextSubmit:hover{
    background-color: #394641;
    
}

.fromTextSubmit:active{
    scale: .95;
}

.fromTextSubmit:focus{
    outline: auto;

}