.LanguageButton-shape{
    background-color: #445851;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    margin: 20px auto;
    box-shadow: 0 0 5px -2px black;
    display: grid;
    grid-template-columns: 1fr 50px;
    color: white;
    font-size: 25px;
}

.LanguageButton-shape:hover{
    cursor: pointer;
    background-color: #394641;
}

.LanguageButton-shape:active{
    scale: .95;
}

.LanguageButton-language{
    margin: auto 25px;
    /* border: solid white; */
}

.LanguageButton-triangle{
    fill: white;
    height: 35px;
    margin: auto;
    /* border: solid white; */
}